img {
/*     width: calc(100vw - 1554px);
    height: 315px; */
    width: 100%;
    height: 100%;
}
.img-div {
/*     width: calc(100vw - 1554px);
    height: 315px; */
    width: 100%;
    height: 100%;
}