<div class="login-container">
  <form [formGroup]="form" class="login-form">
      <h3 class="title">Пријава на систем</h3>
      <mat-form-field>
          <label class='pokusaj'>Корисничко име</label>
          <input matInput class="text-in-the-field" type="text" formControlName="username" required autocomplete="off"/>
      </mat-form-field>
      <mat-form-field>
            <label class='pokusaj'>Лозинка</label>
          <input matInput class="text-in-the-field" type="password" formControlName="password" required autocomplete="off"/>
      </mat-form-field>
    <div>
            <button mat-button class="btn" routerLink='/user'><h5 class="dugme">Назад на почетну</h5></button>
            <button mat-button class="btn" [disabled]="form.invalid" (click)="login(form)"><h5 class="dugme">Пријави се</h5></button>
    </div>
  </form>
</div>
